.recipes-li {
  list-style: none;
  border: 1px solid gray;
  margin: 10px;
  border-radius: 10px;
  color: black;
}

.recipes-img {
  height: 200px;
  width: 200px;
  padding: 10px;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  display: block;
}

.recipe-li {
  list-style: none;
}